/eln-cache/
/elpa/
/.DS_Store
/org-roam.db
/transient/
/projects
/recentf
/tramp
/var/
/url/
.*/.DS_Store
.*/.*/.DS_Store
/.lsp-session-v1
/auto-save-list/
/eshell/
/multisession/
/network-security.data
/request/
/snippets/org-mode/.DS_Store
/tree-sitter/
/.org-id-locations
/bookmarks
/custom.el

/snippets/.DS_Store
/private-config.el
.aider*

